/* COLORS */

.orange { color: #F66A27; }
.orange-light { color: #FD925F; }
.orange-dark { color: #A33704; }
.yellow { color: #F1D416; }
.blue { color: #5D94BD; }
.blue-light { color: #E4ECF4; }
.blue-dark { color: #215983; }
.pink { color: #BD5C89; }
.green { color: #87AD1A; }
.green-dark { color: #7A9D15; }